@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #1E1E1E;
    color: #fff;
}

input{
    border: 1px solid #36A3F0;
    border-radius: 5px;
    padding: 3px;
}

input:hover{
    border: 1px solid #1E38A1;
}



button{
    color: #B17ED1;
    border: 1px solid #B17ED1;
    background-color: #252526;
    border-radius: 5px;
    padding: 5px;
}